#container {
  background-color: teal;

}

.form-inside input[type = "text"]{
  border: 2px solid #3498db;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.form-inside input[type = "text"]:focus{
  border-color:#2ecc71;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bolder;
    color: white;
    background-color: black;
    
}
.form-group{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 20px;
    background-color: bisque;
}



@keyframes reet {
    0%{
      color: teal;
    }
    33%{
      color: tan;
    }
    67%{
      color: aqua;
      
    }
    77%{
      color: black;
    }
    100%{
        animation-direction: reverse;
    }
}